.bg-1 {
  background-color: #1abc9c;
  color: #ffffff;
  text-align: center;
}
.bg-2 {
  background-color: #474e5d;
  color: #ffffff;
}
.bg-3 {
  background-color: #ffffff;
  color: #555555;
}

body {
  font: 20px "Montserrat", sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

p {
  font-size: 16px;
}
li {
  list-style: none;
}

.arrow:before {
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-size: 14px;
}

.arrow {
  font-size: 15px;
}

.margin {margin-bottom: 45px;}

.container-fluid {
  padding-top: 50px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
    color: #000000;
}

input[type=submit] {
    padding:5px 15px;
    background:#1abc9c;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.glyphicon {
  padding: 10px;
}
